body {
    background-color : #FCFCF6;
}

#login {
    font-weight: bold;
}

#login:hover {
    color : inherit;
}

.labelConnex{
    align-items : flex-start;
    display : flex;    
	font-weight:bold;
    font-size : 1em;
}

#cadreConnection {      
	display : flex;
	flex-direction: column;
    margin : 0 auto;
	text-align: center;
	width : 30%;
}

#seConnecter {
    background-color: #1D6154;    
    border: none;
    border-radius: 60px ;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    color: white;
    font-family: 'Syne';
    font-size: 1.2em;
	font-weight: 700;
    height: 50px;
	margin : 1.5em auto ;
    text-align: center;
	width: 180px;
}

.inputConnex {
    border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    height : 40px;
    margin-bottom : 30px;
    width : 100%;    
}

h2 {
    margin-bottom : 20px;
}

#mdpOublie {
    color : inherit;
    text-decoration : underline;
}
