/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

button, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,a,#winModale, #modale {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
	
}





#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* PARTIE AJOUTEE */
a {
	color : inherit;
	text-decoration: none;	
}

#portfolio #sectionFiltres {
	display : flex;
	flex-wrap : wrap;
	justify-content : space-between;
	margin : 0 auto 30px;	
	width : 65%;	
}

input[type="button"] {
	background-color: white;	
	border : 1px solid #1D6154;
	border-radius: 60px ;	
	color: #1D6154;	
	font-family: 'Syne';
	font-size : 120%;
	font-weight: 700;
	padding-top : 10px;
	padding-bottom : 10px;		
	text-align: center;	
}

.notVisible {
	display :none !important;
}

.boutonFiltre:hover {
	background-color: #1D6154;
	color : white;
}


#modifier {
	margin-bottom: 30px;
	padding-bottom : 1em;
}

#modifier2{
	margin-top : 0.7em;
	margin-left : 1.5em;	
}

#modifierMesProjets {
	display : flex;
	justify-content: center;
	margin-bottom: none;
}

#barreNoire {	

	background-color: black;
    display: none;
    height: 40px;
    width: 100%;
    justify-content: center;
}

#barreNoire p {	
	color : white;
	font-size: 120%;	
	margin : auto 5px;
}

#publierLesChangements {	
	border : 2px solid black;
	background-color : white;
	border-radius : 40px;
	font-size: 100%;
	height : 30px;	
	margin : auto 5px;	
	padding: 0px 10px;
}

#modale {
	background-color: rgba(0, 0, 0, 0.3);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    margin-top: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    flex-direction: column;
}



#winModale {
	background-color: #fefefe;
    margin: 50px auto;
    padding: 20px;
    width: 60%;
    height: 950px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    overflow-y: scroll;
	z-index :1001;
}

#x {
	font-weight: bold;
	text-align: right;
	width : 100%;    
}

#titreModale {	
	font-size : 150%;
	padding-top : 0;
	text-align : center;	 
	width: 100%; 
}

#gallery2 {
	display : flex;	
	flex-wrap : wrap;	
	justify-content : space-between;
	margin : 20px auto 0;	
	width : 90%;
}

#gallery2 figure {	
	margin : 0 5px;
	width : 20%; 
	position:relative; 
}

#gallery2 figure div {
    position: absolute;
    top: -15px;
    right: 20px;
}
.imgGall2 {	
	margin-top : 10px;
	width : 100%;	
}

.iconePoub {
	background-color: black;
	color: white;
	left: 45%;
	position: relative;    
    top: 30px;    
    text-align: center;
    padding: 4px;
	font-size : 0.5em;	
}

.iconeFleche {
	background-color: black;
	color: white;
	font-size : 0.5em;
    left: 40%;
    padding: 4px;
	position: relative;     
    text-align: center;       
    top: 30px;	
}

#gallery2 figcaption {
	font-size: 60%;
}

#trait .trait{
	border-bottom : 2px solid grey;
	margin : 30px auto 0;	
	width : 70%;	
}

#ajouterPhoto{
	background-color: #1D6154;	
	border : 1px solid #1D6154;
	border-radius: 60px;
	color: white;
	font-family: 'Syne';
	font-size : 120%;
	font-weight: 700;
	margin : 10px auto 20px;	
	padding-bottom : 10px;
	padding-top : 10px;		
	text-align: center;	
	width : 40%;	
}

#supprGallerie {
	color : #CF5035;
	font-family: 'Syne';
	font-size : 100%;
	padding-top : 0;
	text-align : center;	
}

#winModaleAdd {
	background-color: #fefefe;
    margin: 50px auto;
    padding: 20px;
    width: 60%;
    height: 850px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    overflow-y: scroll;
}

#iconesModifImage {
	display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

#titreModale2{
	font-size : 150%;
	padding-top : 0;
	text-align : center;	 
	width: 100%; 
	margin-bottom: 20px;
}

#cadreAjoutImg {
	background-color: rgba(221, 243, 243, 0.5);
	height: 40%;
	display : flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
    justify-content: space-between;
}

#imageModif {
	font-size: 4.3em;
	color: grey;
    opacity: 0.4;
}

#ajoutPhoto {
	font-weight: 600;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    background-color: #B2CDD2;
    color: #0D7B8D;
	/*VOrem*/
	text-align: center;
    width: 60%;
    margin: 30px auto;
	
}

#cadreAjoutImg p {
	font-size : 0.8em;
	margin-top: 5px;
}

#formAjoutPhoto {
	display: flex;
    flex-direction: column;
}

#formAjoutPhoto, label {
	
    margin: 20px 0 10px;
}

#textAjoutPhoto  {
	box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
	height : 50px;
	border : none;
}
#catges {
	box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
	height : 50px;
	border : none;
}
.trait{
	border-bottom : 2px solid grey;
	margin : 50px auto 0;	
	width : 100%;	
}


.cadreWinmod{
	margin : 0 40px;
}

#validModifPhoto {
	color : white;
	background-color : grey;
	border-radius: 60px;	
	font-family: 'Syne';
	font-size : 120%;
	font-weight: 700;
	margin : 50px auto 20px;	
	padding-bottom : 10px;
	padding-top : 10px;		
	text-align: center;	
	width : 40%;
	margin : 40px auto;
}

#divLabelFile{
	/*display: inline-block;*/
	display : flex;
	flex-direction: column;
  position: relative;
  overflow: hidden;
  width : 100%;
}

#file {
	left: 0;
  top: 0;
  opacity : 0;
  position: absolute;
  width : 100%;
  height : 100%;	
}

.iconePoub,  #modifier, #modifier2, .iconeFleche, #supprGallerie, #ajouterPhoto,
 #x, .fa-arrow-left, .fa-xmark, #boutonTypeFile{
	cursor :pointer;
}

#preview {
	object-fit: scale-down;
    text-align: center;
}

#thumbi {
	max-height: 200px;
    max-width: 50%;
}

/* = = = = = = = */


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

