/* http://meyerweb.com/eric/tools/css/reset/boutonFiltre
   v2.0 | 20110126
   License: none (public domain)
*/

button, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,a,#winModale, #modale {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	max-width: 1140px;
	margin:auto;
	
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0
}

h1{
	color: #B1663C;
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2{
	color: #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;	
}
nav ul {
	align-items: center;
	display: flex;	
	list-style-type: none;
}
nav li {
	font-size: 1.2em;
	padding: 0 10px;	
}
li:hover {
	color: #B1663C;
}
#introduction {
	align-items: center;
	display: flex;	
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;	
}
#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	margin-bottom: 1em;
	text-align: center;	
}

/* PARTIE AJOUTEE */
body {
	background-color: #FCFCF6;
}

a {
	color : inherit;
	text-decoration: none;	
}

#portfolio #sectionFiltres {
	display : flex;
	flex-wrap : wrap;
	justify-content : space-between;
	margin : 20px auto 50px;	
	width : 55%;	
}
input[type="button"] {
	background-color: #FCFCF6;	
	border : 1px solid #1D6154;
	border-radius: 60px ;	
	color: #1D6154;	
	font-family: 'Syne';
	font-size : 120%;
	font-weight: 700;
	padding-top : 10px;
	padding-bottom : 10px;		
	text-align: center;	
}
.notVisible {
	display :none !important;
}
.boutonFiltre:hover {
	background-color: #1D6154;
	color : #FCFCF6;
}

.boutonFiltre {
	background-color: #FCFCF6;
}

.couleurBoutonClic {
	color : "#FCFCF6";
    background : "#1D6154";
}

#modifier2{
	margin-top : 0.7em;
	margin-left : 1.5em;	
}
#modifier3{
	margin-left: 3.8em;
    margin-top: 20px;	
}

#modifierMesProjets {
	display : flex;
	justify-content: center;	
}

#barreNoire {	
	background-color: black;
    display: none;
    height: 40px;    
    justify-content: center;
	width: 100%;
}
#barreNoire p {	
	color : white;
	font-size: 120%;	
	margin : auto 5px;
}
#publierLesChangements {	
	border : 2px solid black;
	background-color : white;
	border-radius : 40px;
	font-size: 100%;
	height : 30px;	
	margin : auto 5px;	
	padding: 0px 10px;
}

#modale {
	background-color: rgba(0, 0, 0, 0.3);
    display: none;
	flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    margin-top: 0;
    position: absolute;
	position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}
#winModale {
	background-color: #fefefe;
	border-radius: 10px;
	display: none;
	height: 950px;
    flex-direction: column;
	margin: 50px auto;
	overflow-y: scroll;  	
	padding: 20px;
	width: 60%;
	z-index :1001;
}
#x {
	font-weight: bold;
	text-align: right;
	width : 100%;    
}
#titreModale {	
	font-size : 150%;
	padding-top : 0;
	text-align : center;	 
	width: 100%; 
}
#gallery2 {
	display : flex;	
	flex-wrap : wrap;	
	justify-content : space-between;
	margin : 20px auto 0;	
	width : 90%;
}
#gallery2 figure {	
	margin : 0 5px;
	width : 20%; 
	position:relative; 
}
#gallery2 figure div {
    position: absolute;
    top: -15px;
    right: 20px;
}
.imgGall2 {	
	margin-top : 10px;
	width : 100%;	
}
.iconePoub {
	background-color: black;
	border-radius: 5px;
	color: white;
	left: 30%;
	position: relative;    
    top: 35px;    
    text-align: center;
    padding: 6px 8px;
	font-size : 1.5em;	
}
.iconeFleche {
	background-color: black;
	border-radius: 5px;
	color: white;
	font-size : 1.5em;
    left: 20%;
    padding: 6px;
	position: relative;     
    text-align: center;       
    top: 35px;	
}
#gallery2 figcaption {
	font-size: 1.2em;
}
#trait .trait{
	border-bottom : 2px solid grey;
	margin : 30px auto 0;	
	width : 70%;	
}
#ajouterPhoto{
	background-color: #1D6154;	
	border : 1px solid #1D6154;
	border-radius: 60px;
	color: white;
	font-family: 'Syne';
	font-size : 120%;
	font-weight: 700;
	margin : 10px auto 20px;	
	padding-bottom : 10px;
	padding-top : 10px;		
	text-align: center;	
	width : 40%;	
}
#supprGallerie {
	color : #CF5035;
	font-family: 'Syne';
	font-size : 100%;
	padding-bottom : 40px;
	padding-top : 5px;
	text-align : center;	
}
#winModaleAdd {
	background-color: #fefefe;    
	border-radius: 10px;
    display: none;
    flex-direction: column;
	height: 850px;
	margin: 50px auto;
	overflow-y: scroll;
	padding: 20px;
	width: 60%;
}
#iconesModifImage {
	display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
#titreModale2{
	font-size : 150%;
	padding-top : 0;
	text-align : center;	 
	width: 100%; 
	margin-bottom: 20px;
}
#cadreAjoutImg {
	align-items: center;
	background-color: rgba(221, 243, 243, 0.5);
	display : flex;
	flex-direction: column;
	height: 40%;
	padding: 20px;
    justify-content: space-between;
}
#imageModif {
	color: grey;
	font-size: 5em;	
	margin-top : 10px;
    opacity: 0.4;
}
#ajoutPhoto {
	background-color: #B2CDD2;
	border-radius: 20px;
	color: #0D7B8D;
	font-weight: 600;
	margin: 30px auto;
    padding: 15px;
	text-align: center;
    width: 40%;
}
#cadreAjoutImg p {
	font-size : 0.8em;
	margin-top: 5px;
}
#formAjoutPhoto {
	display: flex;
    flex-direction: column;
}
#formAjoutPhoto, label {	
    margin: 20px 0 10px;
}
#textAjoutPhoto  {
	box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
	height : 50px;
	border : none;
}
#catges {
	border : none;
	box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
	height : 50px;	
}
.trait{
	border-bottom : 2px solid grey;
	margin : 50px auto 0;	
	width : 100%;	
}
.cadreWinmod{
	margin : 0 40px;
}
#validModifPhoto {	
	background-color : grey;
	border-radius: 60px;	
	color : white;
	font-family: 'Syne';
	font-size : 120%;
	font-weight: 700;	
	margin : 40px auto;	
	padding-bottom : 10px;
	padding-top : 10px;		
	text-align: center;	
	width : 40%;	
}
#divLabelFile{
	display : flex;
	flex-direction: column;
  	position: relative;
  	overflow: hidden;
  	width : 100%;
}
#file {
	height : 100%;
	left: 0;	
	opacity : 0;
	position: absolute;
	top: 0;
	width : 100%;		
}
.iconePoub, #modifier2, #modifier3, .iconeFleche, #supprGallerie, #ajouterPhoto,
 #x, .fa-arrow-left, .fa-xmark, #boutonTypeFile, #logout{
	cursor :pointer;
}
#preview {
	object-fit: scale-down;
    text-align: center;
}
#thumbi {
	max-height: 200px;
    max-width: 50%;
}

/* = = = = = = = */


.gallery {	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	width: 100%;
}
.gallery img {
	width: 100%;
}
#contact {
	margin: auto;
	width: 50%;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	display: flex;
	flex-direction: column;	
	margin-top:30px;
	text-align: left;
}
#contact input {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);	
	font-size: 1.2em;
	height: 50px;	
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	background-color: #1D6154;
	border-radius: 60px ;
	color: white;
	font-family: 'Syne';
	font-weight: 700;
	margin : 2em auto ;
	text-align: center;
	width: 180px;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

